<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hotpodata.redchain">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".RedChainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_label"
        android:theme="@style/AppTheme">

        <!-- Add the following meta-data for devices running Google Play service. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".activity.ChainActivity"
            android:launchMode="singleInstance" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.ChainEditActivity"
            android:launchMode="singleInstance"
            android:windowSoftInputMode="stateHidden" />

        <service
            android:name=".service.FreeVersionMigrationService"
            android:exported="true"
            android:label="RedChain Upgrade data migration service" />

        <receiver
            android:name=".receivers.BrokenChainNotificationReceiver"
            android:process=":remote"></receiver>
        <receiver
            android:name=".receivers.ReminderNotificationReceiver"
            android:process=":remote"></receiver>
    </application>

</manifest>
